absl-py==0.10.0
altair==4.1.0
altgraph==0.17
amqp==5.0.1
aniso8601==8.0.0
anyio==3.5.0
appdirs==1.4.3
argon2-cffi==20.1.0
asgiref==3.5.0
astor==0.8.1
astroid==2.3.3
astunparse==1.6.3
async-generator==1.10
attrs==19.3.0
auto-py-to-exe==2.5.3
Automat==20.2.0
Babel==2.9.1
backcall==0.2.0
backoff==1.10.0
base58==2.0.1
bcrypt==3.2.0
beautifulsoup4==4.10.0
billiard==3.6.3.0
bleach==3.1.5
blinker==1.4
blis==0.7.4
blurhash==1.1.4
boost==0.1
boto==2.49.0
boto3==1.16.9
botocore==1.19.9
bottle==0.12.19
bottle-websocket==0.2.9
bqplot==0.12.33
branca==0.4.2
Brotli==1.0.9
bs4==0.0.1
CacheControl==0.12.10
cached-property==1.5.2
cachetools==4.1.1
call==0.1
catalogue==1.0.0
celery==5.0.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cligj==0.7.2
clock==0.1
colab==1.13.5
colorama==0.4.4
colorlog==4.7.2
colour==0.1.5
comtypes==1.1.7
configure==0.5
constantly==15.1.0
construct==2.10.56
crayons==0.3.1
cryptography==3.4.6
cssselect==1.1.0
cv==1.0.0
cycler==0.10.0
cymem==2.0.5
Cython==0.29.21
dash==1.16.2
dash-core-components==1.12.1
dash-html-components==1.1.1
dash-renderer==1.8.2
dash-table==4.10.1
decorator==4.4.2
defusedxml==0.6.0
diazo==1.4.0
distlib==0.3.0
distro==1.5.0
dj-database-url==0.5.0
Django==3.0.5
django-haystack==3.0
django-heroku==0.3.1
django-hitcounter==0.1.1
django-markwhat==1.6.2
django-revproxy==0.10.0
django-taggit==1.3.0
djangorestframework==3.12.4
djongo==1.3.4
dnspython==2.1.0
docopt==0.6.2
dominate==2.4.0
dotenv-python==0.0.1
earthengine-api==0.1.300
ee-extra==0.0.10
Eel==0.14.0
email-validator==1.1.2
entrypoints==0.3
enum-compat==0.0.3
etiquetando==0.1
face-recognition-models==0.3.0
fake-useragent==0.1.11
fastapi==0.74.1
feedfinder2==0.0.4
feedparser==6.0.2
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.0.12
fingerprint-enhancer==0.0.12
fingerprint-feature-extractor==0.0.7
Fiona @ file:///C:/Users/vedan/pipwin/Fiona-1.8.21-cp38-cp38-win_amd64.whl
Flask==1.1.1
Flask-Assets==2.0
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.6.0
Flask-Cors==3.0.10
flask-googlemaps==0.4.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-ReCaptcha==0.4.2
Flask-RESTful==0.3.8
Flask-Simple-GeoIP==0.2.4
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
flaskwebgui==0.1.6
flatbuffers==2.0
folium==0.12.1.post1
future==0.18.2
gast==0.3.3
gazpacho==0.9.4
GDAL @ file:///C:/Users/vedan/pipwin/GDAL-3.4.1-cp38-cp38-win_amd64.whl
geeadd==0.5.5
geemap==0.11.5
gensim==4.0.1
geocoder==1.38.1
geojson==2.5.0
geopandas @ file:///C:/Users/vedan/pipwin/geopandas-0.6.2-py2.py3-none-any.whl
gevent==21.1.2
gevent-websocket==0.10.1
ghp-import==2.0.1
gitdb==4.0.5
gitdb2==4.0.2
GitPython==3.0.6
google==3.0.0
google-api-core==2.5.0
google-api-python-client==1.12.10
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.1
google-cloud-core==2.2.2
google-cloud-storage==2.1.0
google-colab==1.0.0
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.3.0
googleapis-common-protos==1.55.0
googledrivedownloader==0.4
graphviz==0.14.1
greenlet==1.0.0
grpcio==1.32.0
gunicorn==20.0.4
h11==0.13.0
h5py==2.10.0
harwest==0.3.1
here-map-widget-for-jupyter==1.1.3
html2text==2020.1.16
html5lib==1.1
htmlmin==0.1.12
httplib2==0.20.4
httplib2shim==0.0.3
hyperlink==20.0.1
idna==2.8
imageio==2.9.0
imageio-ffmpeg==0.4.5
importlib-metadata==4.5.0
incremental==17.5.0
ipaddress==1.0.23
ipyevents==2.0.1
ipyfilechooser==0.6.0
ipykernel==5.5.5
ipyleaflet==0.15.0
ipynb-py-convert==0.4.6
ipython==7.27.0
ipython-genutils==0.2.0
ipytree==0.2.1
ipywidgets==7.6.5
iso3166==2.0.2
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.1
jieba3k==0.35.1
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
Js2Py==0.71
jsmin==2.2.2
json5==0.9.5
JsonForm==0.0.2
jsonschema==3.2.0
JsonSir==0.0.2
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==5.2.0
jupyter-core==4.6.3
jupyter-server==1.13.5
jupyterlab==3.2.9
jupyterlab-pygments==0.1.1
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
jupyterthemes==0.20.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-tuner==1.0.1
keyring==5.7.1
kiwisolver==1.2.0
kombu==5.0.2
lab==6.2
lazy-object-proxy==1.4.3
lesscpy==0.14.0
logzero==1.7.0
lxml==4.5.2
lz4==3.1.3
macholib==1.14
mapbox==0.18.0
Markdown==3.2.2
markdown2==2.4.0
MarkupSafe==1.1.1
Mastodon.py==1.5.1
matplotlib==3.2.2
matplotlib-inline==0.1.3
mccabe==0.6.1
mediapipe==0.8.9.1
mercantile==1.2.1
mergedeep==1.3.4
mistune==0.8.4
mkdocs==1.2.1
mkdocs-material==5.5.14
mkdocs-material-extensions==1.0.1
mkdocs-minify-plugin==0.3.0
more-itertools==8.8.0
moviepy==1.0.3
mpmath==1.2.1
msgpack==1.0.3
mss==6.1.0
multipart==0.2.4
multitasking==0.0.9
munch==2.5.0
murmurhash==1.0.5
mysql-connector-python==8.0.19
mysqlclient==2.0.3
nbclassic==0.3.5
nbclient==0.5.0
nbconvert==6.4.2
nbformat==5.0.7
nest-asyncio==1.5.4
networkx==2.5
newspaper3k==0.2.8
nltk==3.5
notebook==6.4.8
numpy==1.18.5
oauthlib==3.1.0
opencv-contrib-python==4.5.4.58
opencv-python==4.4.0.44
opt-einsum==3.3.0
ordered-set==3.1.1
ordered-set-stubs==0.1.3
OWSLib==0.25.0
packaging==20.9
palettable==3.3.0
pandas==1.4.1
pandas-datareader==0.10.0
pandocfilters==1.4.2
parse==1.19.0
parso==0.7.0
passlib==1.7.4
pathtools==0.1.2
pefile==2019.4.18
phonenumbers==8.12.17
pickleshare==0.7.5
piexif==1.1.3
Pillow==6.2.2
pipwin==0.5.1
plac==1.1.3
plotly==5.6.0
ply==3.11
poetry-version==0.1.5
polyline==1.4.0
portpicker==1.2.0
preshed==3.0.5
profanity-filter==1.3.3
proglog==0.1.9
prometheus-client==0.8.0
prompt-toolkit==3.0.20
protobuf==3.13.0
psutil==5.7.0
psycopg2==2.8.6
pyarrow==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyCRS==1.0.2
pycryptodomex==3.9.8
pydantic==1.8.2
pydeck==0.5.0b1
pydotplus==2.0.2
pyee==8.1.0
pyenchant==3.1.1
pyfiglet==0.8.post1
pygame==2.0.0
Pygments==2.6.1
PyHamcrest==2.0.2
PyInstaller==3.3.1
pyjsparser==2.7.1
pylint==2.4.4
pymdown-extensions==8.2
pymongo==3.11.3
Pympler==1.0.1
PyMuPDF==1.18.9
PyMySQL==1.0.2
pyotp==2.4.1
pyparsing==2.4.7
pypiwin32==223
pyppeteer==0.2.5
PyPrind==2.11.3
pyproj==3.3.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.0
PyQt6==6.0.2
PyQt6-Qt==6.0.1
PyQt6-sip==13.0.1
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
pyquery==1.4.3
pyrsistent==0.16.0
pyshp==2.2.0
PySide2==5.15.1
PySide6==6.1.2
pySmartDL==1.3.4
pysmi==0.3.4
pysnmp==4.4.12
pytesseract==0.3.8
python-box==5.4.1
python-dateutil==2.8.1
python-dotenv==0.15.0
Python-EasyConfig==0.1.7
python-magic==0.4.18
python-multipart==0.0.5
pyttsx3==2.90
pytube==11.0.1
pytube3==9.6.4
pytz==2021.1
PyWavelets==1.1.1
pywin32==228
pywinpty==0.5.7
PyYAML==5.3.1
pyyaml_env_tag==0.1
pyzmq==19.0.1
qtconsole==4.7.7
QtPy==1.9.0
quote==2.0
ratelim==0.1.6
redis==3.5.3
regex==2020.10.28
repoze.lru==0.7
requests==2.25.1
requests-file==1.5.1
requests-html==0.10.0
requests-oauthlib==1.3.0
Resource==0.2.1
resp==0.1.2
retrying==1.3.3
robin-stocks==1.5.2
rsa==4.6
Rtree @ file:///C:/Users/vedan/pipwin/Rtree-0.9.7-cp38-cp38-win_amd64.whl
ruamel.yaml==0.15.100
s3transfer==0.3.3
sankee==0.0.7
scikit-image==0.18.3
scikit-learn==0.23.2
scipy==1.5.1
seaborn==0.10.1
selenium==3.141.0
semver==2.13.0
Send2Trash==1.8.0
sgmllib3k==1.0.0
Shapely @ file:///C:/Users/vedan/pipwin/Shapely-1.8.1.post1-cp38-cp38-win_amd64.whl
shiboken2==5.15.1
shiboken6==6.1.2
simple-geoip==0.1.1
simplegeneric==0.8.1
simplejson==3.17.0
six @ file:///C:/Users/vedan/pipwin/six-1.16.0-py3-none-any.whl
sklearn==0.0
smart-open==5.0.0
smmap==3.0.4
sniffio==1.2.0
sounddevice==0.4.3
soupsieve==2.0.1
spacy==2.3.7
SpeechRecognition==3.8.1
speedtest==0.0.1
speedtest-cli==2.1.2
SQLAlchemy==1.3.18
sqlparse==0.2.4
srsly==1.0.5
starlette==0.17.1
stegano==0.9.8
stemming==1.0.1
streamlit==1.7.0
sympy==1.7.1
tabulate==0.8.7
tenacity==8.0.1
tensor==0.3.6
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
tflite==2.4.0
tflite-runtime==2.5.0
thinc==7.4.5
threadpoolctl==2.1.0
tifffile==2021.8.30
tinysegmenter==0.3
tkPDFViewer==0.1
tldextract==3.0.2
toml==0.10.1
tomlkit==0.5.11
toolz==0.11.1
tornado==6.1
tqdm==4.49.0
traitlets==5.1.1
traittypes==0.2.1
Twisted==20.3.0
txt2tags==3.7
typing-extensions==3.10.0.0
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.25.11
uuid==1.30
uvicorn==0.17.5
validators==0.18.1
vine==5.0.0
virtualenv==20.0.4
visitor==0.1.3
voila==0.3.2
w3lib==1.22.0
wasabi==0.8.2
watchdog==2.1.2
wcwidth==0.2.4
webassets==2.0
webencodings==0.5.1
websocket-client==1.3.1
websockets==10.2
Werkzeug==1.0.1
whichcraft==0.6.1
whitebox==2.1.2
whiteboxgui==0.7.0
whitenoise==5.2.0
Whoosh==2.7.4
widgetsnbextension==3.5.1
win10toast==0.9
wrapt==1.11.2
WTForms==2.3.3
xlrd==1.2.0
XlsxWriter==1.3.8
xlwt==1.3.0
xyzservices==2022.2.0
yfinance==0.1.55
youtube-dl==2021.6.6
youtube-downloader==0.6.2
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.1.0
