cv==1.0.0
cycler==0.10.0
cymem==2.0.5
dash==1.16.2
dash-core-components==1.12.1
dash-html-components==1.1.1
dash-renderer==1.8.2
dash-table==4.10.1
decorator==4.4.2
defusedxml==0.6.0
diazo==1.4.0
distlib==0.3.0
dnspython==2.1.0
docopt==0.6.2
dotenv-python==0.0.1
ffmpeg==1.4
ffmpeg-python==0.2.0
GitPython==3.0.6
graphviz==0.14.1
greenlet==1.0.0
grpcio==1.32.0
gunicorn==20.0.4
h11==0.13.0
h5py==2.10.0
harwest==0.3.1
here-map-widget-for-jupyter==1.1.3
html2text==2020.1.16
html5lib==1.1
htmlmin==0.1.12
httplib2==0.20.4
httplib2shim==0.0.3
hyperlink==20.0.1
idna==2.8
imageio==2.9.0
imageio-ffmpeg==0.4.5
importlib-metadata==4.5.0
incremental==17.5.0
ipaddress==1.0.23
ipyevents==2.0.1
ipyfilechooser==0.6.0
ipykernel==5.5.5
ipyleaflet==0.15.0
ipynb-py-convert==0.4.6
ipython==7.27.0
ipython-genutils==0.2.0
ipytree==0.2.1
ipywidgets==7.6.5
iso3166==2.0.2
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.1
jieba3k==0.35.1
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
Js2Py==0.71
jsmin==2.2.2
json5==0.9.5
JsonForm==0.0.2
jsonschema==3.2.0
JsonSir==0.0.2
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==5.2.0
jupyter-core==4.6.3
jupyter-server==1.13.5
jupyterlab==3.2.9
jupyterlab-pygments==0.1.1
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
jupyterthemes==0.20.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-tuner==1.0.1
keyring==5.7.1
kiwisolver==1.2.0
kombu==5.0.2
lab==6.2
lazy-object-proxy==1.4.3
lesscpy==0.14.0
logzero==1.7.0
lxml==4.5.2
lz4==3.1.3
macholib==1.14
mapbox==0.18.0
Markdown==3.2.2
markdown2==2.4.0
MarkupSafe==1.1.1
Mastodon.py==1.5.1
matplotlib==3.2.2
matplotlib-inline==0.1.3
mccabe==0.6.1
mediapipe==0.8.9.1
mercantile==1.2.1
mergedeep==1.3.4
mistune==0.8.4
mkdocs==1.2.1
mkdocs-material==5.5.14
mkdocs-material-extensions==1.0.1
mkdocs-minify-plugin==0.3.0
more-itertools==8.8.0
moviepy==1.0.3
mpmath==1.2.1
msgpack==1.0.3
mss==6.1.0
multipart==0.2.4
multitasking==0.0.9
munch==2.5.0
murmurhash==1.0.5
mysql-connector-python==8.0.19
mysqlclient==2.0.3
nbclassic==0.3.5
nbclient==0.5.0
nbconvert==6.4.2
nbformat==5.0.7
nest-asyncio==1.5.4
networkx==2.5
newspaper3k==0.2.8
nltk==3.5
notebook==6.4.8
numpy==1.18.5
oauthlib==3.1.0
opencv-contrib-python==4.5.4.58
opencv-python==4.4.0.44
opt-einsum==3.3.0
ordered-set==3.1.1
ordered-set-stubs==0.1.3
OWSLib==0.25.0
packaging==20.9
palettable==3.3.0
pandas==1.4.1
pandas-datareader==0.10.0
pandocfilters==1.4.2
parse==1.19.0
parso==0.7.0
passlib==1.7.4
pathtools==0.1.2
pefile==2019.4.18
phonenumbers==8.12.17
pickleshare==0.7.5
piexif==1.1.3
Pillow==6.2.2
pipwin==0.5.1
plac==1.1.3
plotly==5.6.0
ply==3.11
poetry-version==0.1.5
polyline==1.4.0
portpicker==1.2.0
preshed==3.0.5
profanity-filter==1.3.3
proglog==0.1.9
prometheus-client==0.8.0
prompt-toolkit==3.0.20
protobuf==3.13.0
psutil==5.7.0
pyarrow==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyCRS==1.0.2
pycryptodomex==3.9.8
pydantic==1.8.2
pydeck==0.5.0b1
pydotplus==2.0.2
pyee==8.1.0
pyenchant==3.1.1
pyfiglet==0.8.post1
pygame==2.0.0
Pygments==2.6.1
PyHamcrest==2.0.2
pysnmp==4.4.12
python-box==5.4.1
python-dateutil==2.8.1
python-dotenv==0.15.0
Python-EasyConfig==0.1.7
python-magic==0.4.18
python-multipart==0.0.5
requests==2.25.1
requests-file==1.5.1
requests-html==0.10.0
requests-oauthlib==1.3.0
Resource==0.2.1
resp==0.1.2
s3transfer==0.3.3
scikit-image==0.18.3
scikit-learn==0.23.2
scipy==1.5.1
seaborn==0.10.1
sklearn==0.0
smart-open==5.0.0
smmap==3.0.4
SQLAlchemy==1.3.18
sqlparse==0.2.4
starlette==0.17.1
stemming==1.0.1
streamlit==1.7.0
sympy==1.7.1
tenacity==8.0.1
tensor==0.3.6
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
tflite==2.4.0
tflite-runtime==2.5.0
thinc==7.4.5
threadpoolctl==2.1.0
tifffile==2021.8.30
tinysegmenter==0.3
tkPDFViewer==0.1
tldextract==3.0.2
toml==0.10.1
uuid==1.30
uvicorn==0.17.5
webassets==2.0
webencodings==0.5.1
websocket-client==1.3.1
websockets==10.2
Werkzeug==1.0.1
